@page "/about"

<div class="about-container">
    <div class="image-container">
        <img src="images/owner.jpg" alt="Host" class="owner-image" />
    </div>

    <div class="content-container">
        <h1>About Me</h1>
        <p>
            Hi! I'm Le Hoang Son, a passionate architecture with over 10 years of experience
            in building dynamic, beautiful apartment complex structure.
        </p>
    </div>
</div>

@code {

}
